@model ExpoAdmin.Data.RegistredUser

@{
    ViewData["Title"] = "Create";
    Layout = "_LayoutEmpty";
}

@if (TempData["status"] != null && TempData["status"].ToString() == "success!")
{
    <div class="alert alert-success d-block" role="alert">
        You Have Registered Successfully
    </div>
}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="display-flex flex-items-centered center-div">
                <img class="w-100" style="max-width:300px" src="~/images/expo.png" />
            </div>
            <h4>Expotech 2021 Guest Registration</h4>
            <hr />
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FullName" class="control-label">Full Name</label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Organization" class="control-label"></label>
                    <input asp-for="Organization" class="form-control" />
                    <span asp-validation-for="Organization" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="State" class="control-label"></label>
                    <div class="row">
                        <div class="col-4">
                            West Bank <input asp-for="State" type="radio" checked="checked" value="West Bank" class="form-control Custome-Radio Radio-width" />
                        </div>
                        <div class="col-4">
                            Gaza Strip<input asp-for="State" type="radio" value="Gaza Strip" class="form-control Custome-Radio Radio-width" />
                        </div>
                    </div>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gender" class="control-label"></label>
                    <div class="row">
                        <div class="col-4">
                            Male <input asp-for="Gender" type="radio" value="Male" checked="checked" class="form-control Custome-Radio Radio-width" />
                        </div>
                        <div class="col-4">
                            Female <input asp-for="Gender" type="radio" value="Female" class="form-control Custome-Radio Radio-width" />
                        </div>
                    </div>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>

                <div class="form-group pt-1">
                    <div class="display-flex flex-items-centered footer-info">
                        <input type="submit" value="Submit" class="btn btn-success" style="min-width: 120px;" />
                    </div>
                </div>
            </form>

            <hr />
            <h5>Electronic Registration Sponsor</h5>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <img class="w-75" src="~/images/iconnect.svg" />
                    </div>
                    <div class="col-6">
                        <img class="w-75" style="" src="~/images/incube2.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 blue-bg d-md-block d-none">
            
            <div class="display-flex flex-items-centered center-div" style="margin-top:20%">
                <img src="~/images/expo2.png" class="w-75" />
            </div>
            <div class="display-flex flex-items-centered center-div">
                <h1 class="text-white the-mix-arabic" >أسبوع فلسطين التكنولوجي</h1>
                <h1 class="text-white neou-thin">ExpoTech Week</h1>
            </div>
        </div>
    </div>
</div>
@*<div class="col">
        <img class="w-100" style="max-width:300px" src="~/images/PITA Logo.png" />
    </div>*@


<div class="row">


</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
